{% extends 'base.html' %}
{% block header %}
        <h1>{% block title %} {{ Name['Name'] }} {% endblock %}</h1>
{% endblock %}


{% block content %}
<h1>Employees:</h1>
{% for emp in Employees %}
<article class="Employees">
    <header>
        <div>
            <h1>{{ emp['EmployeeFirstName'] }} {{ emp['EmployeeLastName'] }}</h1>
            <div>
                {{ emp['Salary'] }} {{ emp['Gender'] }} {{ emp['DOB'] }} {{ emp['Manager'] }}
                <a class="action" href="{{url_for('sites.edit', id=emp['id']) }}">Edit</a>
            </div>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<h1>Income:</h1>
{% for inc in Income %}
<article class="Income">
    <header>
        <div>
            <h1>{{ inc['Category'] }}</h1>
            <div>
                {{ inc['Amount'] }} {{ inc['Description'] }} {{ inc['Date'] }}
            </div>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<h1>Expenditure:</h1>
{% for exp in Expenditure %}
<article class="Expenditure">
    <header>
        <div>
            <h1>{{ exp['Category'] }}</h1>
            <div>
                {{ exp['Amount'] }} {{ exp['Description'] }} {{ exp['Date'] }}
            </div>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}

