{% extends 'base.html' %}
{% block header %}
        <h1>{% block title %} {{ Name['Name'] }} {% endblock %}</h1>
{% endblock %}


{% block content %}
<h1>Employees:</h1>
{% for emp in Employees %}
<article class="Employees">
    <header>
        <div>
            <h1>{{ emp['EmployeeFirstName'] }} {{ emp['EmployeeLastName'] }}</h1>
            <div>Salary: {{ emp['Salary'] }}</div>
            <div>Gender: {{ emp['Gender'] }}</div>
            <div>Date of Birth: {{ emp['DOB'] }}</div>
            <div>Manager: {{ emp['Manager'] }}</div>
            <a class="action" href="{{url_for('sites.edit', id=emp['id'], user_type='emp') }}">Edit</a>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<h1>Income:</h1>
{% for inc in Income %}
<article class="Income">
    <header>
        <div>
            <h1>{{ inc['Category'] }}</h1>
            <div>Amount: {{ inc['Amount'] }}</div>
            <div>Description: {{ inc['Description'] }}</div>
            <div>Date: {{ inc['Date'] }}</div>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<h1>Expenditure:</h1>
{% for exp in Expenditure %}
<article class="Expenditure">
    <header>
        <div>
            <h1>{{ exp['Category'] }}</h1>
            <div>Amount: {{ exp['Amount'] }}</div>
            <div>Description: {{ exp['Description'] }}</div>
            <div>Date: {{ exp['Date'] }}</div>
        </div>
    </header>
</article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}

