<!-- Edit HTML page  -->

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="EmployeeFirstName">First Name:</label>
    <input name="EmployeeFirstName" id="EmployeeFirstName"
           value="{{ request.form['EmployeeFirstName'] or data['EmployeeFirstName'] }}" required>

    <label for="EmployeeFirstName">Last Name:</label>
    <input name="EmployeeLastName" id="EmployeeLastName"
           value="{{ request.form['EmployeeLastName'] or data['EmployeeLastName'] }}" required>

    <label for="Salary">Salary:</label>
    <input type="number" name="Salary" id="Salary" value="{{ request.form['Salary'] or data['Salary'] }}" required>


    <label>Gender:</label>
        <fieldset>
        <div>
        <input type="radio" name="Gender" id="GenderMale" value="Male" required/>
            <label for="GenderMale">Male</label>
        </div>
        <div>
            <input type="radio" name="Gender" id="GenderFemale" value="Female" required/>
            <label for="GenderFemale">Female</label>
        </div>
        </fieldset>

    <label for="DOB">DOB:</label>
    <input type="date" name="DOB" id="DOB" value="{{ request.form['DOB'] or data['DOB'] }}" required>


        <label>Manager:</label>
        <fieldset>
        <div>
        <input type="radio" name="Manager" id="ManagerYes" value="Yes" required/>
            <label for="ManagerYes">Yes</label>
        </div>
        <div>
            <input type="radio" name="Manager" id="ManagerNo" value="No" required/>
            <label for="ManagerNo">No</label>
        </div>
        </fieldset>

    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('sites.delete', id=data['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}