{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hello and welcome to the WASPGpt Management Portal.{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sites.register', user_type='admin') }}">Register Admin</a>
    <a class="action" href="{{ url_for('sites.register', user_type='employee') }}">Register Employee</a>
    <a class="action" href="{{ url_for('sites.register', user_type='job-site') }}">Register New Job Site</a>
  {% endif %}
{% endblock %}

{% block content %}
<h1>Job Site Locations:</h1>
{% for jobSite in jobSites %}
<article class="jobSites">
      <header>
        <div>
              <a class="action" href="{{ url_for('sites.display', jobSiteID=jobSite['id']) }}">{{ jobSite['Name'] }}</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
<h1>Administrators:</h1>
  {% for admin in Admins %}
    <article class = "Admins">
      <header>
        <div>
          <h1>{{ admin['Username'] }}</h1>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
<h1>Cumulative Taxes:</h1>
  {% for tax in Taxes %}
    <article class = "Taxes">
      <header>
        <div>
          <h1>{{ tax['Description'] }}</h1>
          <div>{{ tax['Amount'] }} {{ tax['Date'] }} {{ tax['Category'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}