<!-- Register HTML page -->

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="user_type" value="{{ user_type }}">
        {% if user_type == 'admin' %}
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        {% elif user_type == 'employee' %}
        <label for="EmployeeFirstName">First Name</label>
        <input name="EmployeeFirstName" id="EmployeeFirstName" required>
        <label for="EmployeeLastName">Last Name</label>
        <input name="EmployeeLastName" id="EmployeeLastName" required>
        <label for="Salary">Salary</label>
        <input type="number" name="Salary" id="Salary" required>

        <label>Gender:</label>
        <fieldset>
        <div>
        <input type="radio" name="Gender" id="GenderMale" value="Male" required/>
            <label for="GenderMale">Male</label>
        </div>
        <div>
            <input type="radio" name="Gender" id="GenderFemale" value="Female" required/>
            <label for="GenderFemale">Female</label>
        </div>
        </fieldset>

        <label for="DOB">Date of Birth</label>
        <input type="date" name="DOB" id="DOB" required>

        <label>Manager:</label>
        <fieldset>
        <div>
        <input type="radio" name="Manager" id="ManagerYes" value="Yes" required/>
            <label for="ManagerYes">Yes</label>
        </div>
        <div>
            <input type="radio" name="Manager" id="ManagerNo" value="No" required/>
            <label for="ManagerNo">No</label>
        </div>
        </fieldset>

        <label>JobSite:</label>
        <fieldset>
            {% for site in sites %}
            <div>
            <input type="radio" name="JobSite" id="{{ site['Name'] }}" value="{{ site['id'] }}">
                <label for="{{ site['Name'] }}">{{ site['Name'] }}</label>
            </div>
            {% endfor %}
        </fieldset>


        {%elif user_type == 'manager'%}
        <label for="Manager-username">Username</label>
        <input name="Manager-username" id="Manager-username" required>
        <label for="Manager-password">Password</label>
        <input type="password" name="Manager-password" id="Manager-password" required>



        {%elif user_type == 'job-site'%}
        <label for="Name">Name</label>
        <input name="Name" id="Name" required>
        {% endif %}
        <input type="submit" value="Reigster">
    </form>
{% endblock %}