@media (min-width: 480px) {
  .top-buttons {
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .top-buttons {
    margin-right: 0;
  }
}

.top-buttons {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #DBE4F1;
  min-width: initial;
  padding: 0;
  margin-right: 20px;
