<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WASPGpt</title>
    <style>

    </style>
</head>
<body>
    <section id="sidebar">
    <div class = "top-left-logo">

    </div>
    <div class="inner">
        <button>Home</button>
        <button>Login</button>
        <button>Sign Up</button>
        <button>About</button>
    </div>
        </section>
    <div id="wrapper">
        <section id="top-title">
                <div class="inner">
            <h1>WASPGpt</h1>
                </div>
        </section>
    </div>

</body>
</html>